[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=UtopiaPlayer/Plugin
X-KDE-Library=utopiaplayer_xine_plugin
X-UtopiaPlayer-Version=0.1.0
Name=Xine Output Plugin
Name[x-test]=xxXine Output Pluginxx
Comment=A Xine output plugin for UtopiaPlayer
Comment[x-test]=xxA Xine output plugin for UtopiaPlayerxx
X-UtopiaPlayer-MajorProfiles=UtopiaPlayer
X-UtopiaPlayer-MinorProfiles=*
MimeType=text/plain
