[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=UtopiaPlayer/Plugin
X-KDE-Library=utopiaplayer_phonon_plugin
X-UtopiaPlayer-Version=0.1.0
Name=Phonon Output Plugin
Name[x-test]=xxPhonon Output Pluginxx
Comment=A Phonon output plugin for UtopiaPlayer
Comment[x-test]=xxA Phonon output plugin for UtopiaPlayerxx
X-UtopiaPlayer-MajorProfiles=UtopiaPlayer
X-UtopiaPlayer-MinorProfiles=*
MimeType=text/plain
