<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="UtopiaLyrics" version="1">
<ToolBar name="mainToolBar" noMerge="1">
	<text>Main Toolbar</text>
	<DefineGroup name="file_open" />
	<Action name="file_new" group="file_open" />
	<Action name="file_open" group="file_open" />
	<Separator />
	<Action name="file_close" />
</ToolBar>
<ToolBar name="colorToolBar" noMerge="1">
	<text>Color Toolbar</text>
	<DefineGroup name="colors" />
	<Action name="color_all" group="colors" />
</ToolBar>
</kpartgui>
