[Desktop Entry]
Encoding=UTF-8
Name=Utopia Lyrics
Name[x-test]=xxUtopia Lyricsxx
Exec=utopialyrics
Icon=utopialyrics
Type=Application
DocPath=utopialyrics/index.html
Comment=KDE Lyrics Editing Application
Comment[x-test]=xxKDE Lyrics Editing Applicationxx
GenericName=KDE Lyrics Editing Application
GenericName[x-test]=xxKDE Lyrics Editing Applicationxx
Categories=Qt;KDE;AudioVideo;
