[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=UtopiaPlayer/Plugin
X-KDE-Library=utopiaplayer_ipod_plugin
X-UtopiaPlayer-Version=0.1.0
Name=iPod Device Plugin
Name[x-test]=xxiPod Device Pluginxx
Comment=A iPod device plugin for UtopiaPlayer
Comment[x-test]=xxA iPod device plugin for UtopiaPlayerxx
X-UtopiaPlayer-MajorProfiles=UtopiaPlayer
X-UtopiaPlayer-MinorProfiles=*
MimeType=text/plain
